<!-- app/views/static_pages/about_us.html.erb -->
<div class="row">
  <div class="col s12">
    <h2>Bem-vindo à Lista de Mercado!</h2>
    <p>Na correria do dia a dia, manter o controle dos gastos e organizar as compras do mercado pode se tornar uma tarefa desafiadora. É pensando nisso que criamos a Lista de Mercado, uma ferramenta projetada para simplificar e aprimorar a sua experiência de compras.</p>

    <p>Nosso objetivo é proporcionar a você uma maneira eficaz e conveniente de gerenciar sua lista de compras, permitindo um controle mais preciso dos seus gastos e garantindo que você adquira exatamente o que precisa. Com a Lista de Mercado, você pode criar, editar e visualizar sua lista a qualquer momento, seja no conforto da sua casa ou enquanto está em movimento.</p>

  </div>
</div>
