<!-- app/views/static_pages/about_us.html.erb -->
<div class="row">
  <div class="col s12">
    <h2>Welcome to the Grocery List!</h2>
    <p>In the hustle and bustle of daily life, keeping track of expenses and organizing grocery shopping can become a challenging task. That's why we created the Grocery List, a tool designed to simplify and enhance your shopping experience.</p>

    <p>Our goal is to provide you with an effective and convenient way to manage your shopping list, allowing for precise control of your expenses and ensuring you get exactly what you need. With the Grocery List, you can create, edit, and view your list anytime, whether you're at home or on the go.</p>
  </div>
</div>
