<!-- app/views/layouts/_navbar.html.erb -->
<nav class="green">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <img src="<%= image_path('carrinho-de-compras.png') %>" alt="Carrinho de Compras">
    </a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><%= link_to 'Items', items_path, class: 'waves-effect waves-light white-text valign-wrapper nav-btn' unless current_page?(items_path) %></li>
      <li><%= link_to 'Category', categories_path, class: 'waves-effect waves-light white-text valign-wrapper nav-btn' unless current_page?(categories_path) %></li>
      <li><%= link_to 'About us', about_us_path, class: 'waves-effect waves-light white-text valign-wrapper nav-btn' unless current_page?(about_us_path) %></li>
    </ul>
  </div>
</nav>
